

<% if following? == false %>
<h4>You do not follow <%= @user.email %></h4>
<form action="/users/<%= @user.id %>/follow" method = "post">
    <input type="submit" value = "Follow Account">
    </form>
    <% else %>
    <h5><%= @user.email %>'s Scoreboards</h5>
    <ul>
    <% @user.scoreboards.each do |scoreboard| %>
        <li><a href = "/scoreboards/<%= scoreboard.id %>"><%= scoreboard.name %></a></li>
        <% end %>
    <form action="/users/<%= @user.id %>/unfollow" method = "post">
    <input type="submit" value = "Unfollow Account">
    
    </form>

    <% end %>
    <br>
    <input type = "submit" onclick="window.location='/scoreboards';" value="Go Back To Home">